
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="jumbotron card-image" id="home">
        <div class="row">
            <nav class="dropdown">
                <a class="dropbtn" href="index.html">PerfectlyPaired</a>
                <div class="dropdown-content">
                    <a href="quality.html">White vs. Red Wine</a>
                    <a href="reviews.html">Find My Wine</a>
                    <a href="analysis.html">Behind the Scenes</a>
                </div>
            </nav>
        </div>
        <div class="container" id="header">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="color: rgb(252, 252, 241); font-size: 100px;">It's Time for a Drink.</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid" id="memo">
        <div class="row" id="border">
            <h3><strong>Need help finding the perfect wine?</strong>
            <br><br>We got you covered.</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" style="margin-right: 1%">
                <div class="card-header">
                    <h2 id="home-card"><strong>Predit My Wine Quality</strong></h2>
                </div>
                <div class="card-body">Explanation
                    <hr>
                    <a type="button" class="btn btn-primary" id="button-choice" href="quality.html" role="button">Try Me</a>
                </div>
            </div>
            <div class="card" style="margin-left: 1%">
                <div class="card-header">
                    <h2 id="home-card"><strong>Find My Perfect Wine</strong></h2>
                </div>
                <div class="card-body">Explanation
                    <hr>
                    <a type="button" class="btn btn-primary" id="button-choice" href="reviews.html" role="button">Try Me</a>
                </div> 
            </div>
        </div>
    </div>
</body>