<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wine Variety by Country</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    

</head>

<body>
    <div class="jumbotron card-image" id="reviewscodeRG">
        <div class="row">
            <nav class="dropdown">
                <a class="dropbtn" href="/">PerfectlyPaired</a>
                <div class="dropdown-content">
                    <a href="/quality">White vs. Red Wine</a>
                    <a href="/reviews">Wine Reviews</a>
                    <a href="/reviews_2">Wine Variety</a>
                    <a href="/analysis">Behind the Scenes</a>
                </div>
            </nav>
        </div>
        <div class="container-fluid" id="header-redwhite">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="color: rgb(252, 252, 241); font-size: 100px;">Wine Variety Code</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin: 0%; padding: 0%">
        <nav class="navbar" id="code-nav" style="width: 100%; margin: 0%; padding: 0%">
            <div class="container-fluid">
                <ul class="nav">
                    <li><a href="/red_wine">Red Wine</a></li>
                    <li><a href="/white_wine">White Wine</a></li>
                    <li><a href="/redwhitecode">Red vs. White</a></li>
                    <li><a href="/reviewscode">Wine Reviews</a></li>
                    <li><a href="/reviewscodeRG">Wine Variety</a></li>
                    <li><a href="/webdesign">Web Design</a></li>
                    <li><a href="/flaskcode">Flask</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Objective</strong></h2>
                </div>
                <div class="card-body">
                    <h5 id="obj-body" style="font-size: 28px; padding: 1%">To predict wine varieties by their country, 
                        province, points (80-100), category (red or white), and descriptors using Random Forest Model.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>The Approach</strong></h2>
                </div>
                <div class="card-deck">
                    <img class="card-image-top" id="red1" src="{{url_for('static', filename='rg-1.png')}}"/>
                    <div class="card-body" id="blurb" style="border-bottom: 3px solid black">
                        <h5 id="obj-body">We employed two approaches with the Wine Reviews dataset - textual analysis 
                                            and machine learning after quantification of the text. In the Random Rorest model, we used the 
                                            frequency of descriptors used in reviews to classify wines. <br><br>
                                            We knew from the psychochemical dataset that the accuracy for predicting wine variety was not very good, 
                                            and with the descriptors model the closest I came to was around 58%. The accuracy for predicting wine category (red or white) was much 
                                            higher (99.9%), but that prediction was less useful. <br><br>
                                            Therefore, we employed the variety classification model nonetheless.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Merging the Datasets</strong></h2>
                </div>
                <div class="card-deck">
                    <img class="card-image-top" id="red1" src="{{url_for('static', filename='rg-2.png')}}">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Gathering Wine Review Adjectives</strong></h2>
                </div>
                <div class="card-deck">
                    <img class="card-image-top" id="red1" src="{{url_for('static', filename='rg-3.png')}}">
                    <img class="card-image-top" id="red1" src="{{url_for('static', filename='rg-4.png')}}">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Feature Importance</strong></h2>
                </div>
                <div class="card-deck">
                    <img class="card-image-top" id="red1" src="{{url_for('static', filename='rg-5.png')}}">
                    <div class="card-body" id="blurb">
                        <h5 id="obj-body">Using different methods for classifying data provided good insight into the process of choosing a model. 
                            Our Naive Bayes deep learning model is the product of a purely inductive approach - optimized for highest accuracy. 
                            The Random Forest model is the outcome of a somewhat deductive approach - facially this is a classification problem. <br><br>
                            After reading papers and blogs on wine classification, and taking a stock of my computer’s strength to run some 
                            models, I chose the Random Forest model. Learning this process was helpful because I will be using textual analysis 
                            in my next research project.
                        </h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="col-md-12 text-center">
            <a type="button" class="btn btn-primary" id="button" href="/reviewscode" style="margin-right: 2%" role="button"><b>Previous:</b> Wine Reviews</a>
            <a type="button" class="btn btn-primary" id="button" href="/webdesign" style="margin-left: 2%" role="button"><b>Next:</b> Web Design</a>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>