<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find My Wine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="jumbotron card-image" id="reviews">
        <div class="row">
            <nav class="dropdown">
                <a class="dropbtn" href="index.html">PerfectlyPaired</a>
                <div class="dropdown-content">
                    <a href="quality.html">White vs. Red Wine</a>
                    <a href="reviews.html">Find My Wine</a>
                </div>
            </nav>
        </div>
        <div class="container" id="header-redwhite">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="color: rgb(252, 252, 241); font-size: 100px;">Wine Reviews</h1>
                    <hr>
                    <h2>Let Us Find Your Ideal Wine</h2> 
                </div>
            </div>
        </div>
    </div>