<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Design</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <div class="jumbotron card-image" id="webdesign">
        <div class="row">
            <nav class="dropdown">
                <a class="dropbtn" href="/">PerfectlyPaired</a>
                <div class="dropdown-content">
                    <a href="/quality">White vs. Red Wine</a>
                    <a href="/reviews">Find My Wine</a>
                    <!-- <a href="/reviews_2">Wine Variety</a> --> 
                    <a href="/analysis">Behind the Scenes</a>
                </div>
            </nav>
        </div>
        <div class="container-fluid" id="header-redwhite">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="color: rgb(252, 252, 241); font-size: 100px;">Web Design Code</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin: 0%; padding: 0%">
        <nav class="navbar" id="code-nav" style="width: 100%; margin: 0%; padding: 0%">
            <div class="container-fluid">
                <ul class="nav">
                    <li><a href="/red_wine">Red Wine</a></li>
                    <li><a href="/white_wine">White Wine</a></li>
                    <li><a href="/redwhitecode">Red vs. White</a></li>
                    <li><a href="/reviewscode">Wine Reviews</a></li>
                    <li><a href="/reviewscodeRG">Wine Variety</a></li>
                    <li><a href="/webdesign">Web Design</a></li>
                    <li><a href="/flaskcode">Flask</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Objective</strong></h2>
                </div>
                <div class="card-body">
                    <h5 id="obj-body" style="font-size: 28px; padding: 1%">Build a website to showcase our interactive Machine Learning Models using
                        HTML, CSS, D3, Bootstrap, and JavaScript.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>The Layout: HTML</strong></h2>
                </div>
                <div class="card-deck">
                    <img class="card-image-top" id="red1" src="{{url_for('static', filename='web-1.png')}}">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>The Design: CSS</strong></h2>
                </div>
                <div class="card-deck">
                    <div class="card-body" style="padding: 0%">
                        <img class="card-image" id="red1" src="{{url_for('static', filename='web-1.5.png')}}"/>
                        <img class="card-image" id="red1" src="{{url_for('static', filename='web-1.5a.png')}}"/>
                    </div>
                    <div class="card-body"  id="blurb">
                        <h5 id="obj-body">The CSS in the above image, accompanied by a few lines of JavaScript, 
                                            helped create the above tooltips found on the Wine Quality page.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Populating the HTML using JavaScript</strong></h2>
                </div>
                <div class="card-deck">
                    <img class="card-image" id="red1" src="{{url_for('static', filename='web-2a.png')}}"/>
                    <div class="card-body" id="blurb">
                        <h5 id="obj-body">HTML</h5>
                    </div>
                </div>
                <div class="card-deck">
                    <img class="card-image" id="red1" src="{{url_for('static', filename='web-2b.png')}}"/>
                    <div class="card-body" id="blurb" style="border-bottom: 3px solid black">
                        <h5 id="obj-body">JavaScript</h5>
                    </div>
                </div>
                <div class="card-deck">
                    <img class="card-image" id="red1" src="{{url_for('static', filename='web-2c.png')}}"/>
                    <div class="card-body" id="blurb">
                        <h5 id="obj-body">Finished Product</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>AnyChart Word Cloud </strong></h2>
                </div>
                <div class="card-deck">
                    <div class="card-body" style="padding: 0%">
                        <img class="card-image" id="red1" src="{{url_for('static', filename='web-3a.png')}}"/>
                        <img class="card-image" id="red1" src="{{url_for('static', filename='web-3b.png')}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Taking User Input to Output Our Prediction</strong></h2>
                </div>
                <div class="card-deck">
                    <div class="card-body" style="padding: 0%">
                        <img class="card-image" id="red1" src="{{url_for('static', filename='web-4a.png')}}"/>
                        <img class="card-image" id="red1" src="{{url_for('static', filename='web-4b.png')}}"/>
                        <img class="card-image" id="red1" src="{{url_for('static', filename='web-4c.png')}}"/>
                        <img class="card-image" id="red1" src="{{url_for('static', filename='web-4d.png')}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="col-md-12 text-center">
            <a type="button" class="btn btn-primary" id="button" href="/reviewscodeRG" style="margin-right: 2%" role="button"><b>Previous:</b> Wine Variety</a>
            <a type="button" class="btn btn-primary" id="button" href="/flaskcode" style="margin-left: 2%" role="button"><b>Next:</b> Flask</a>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>
</html>