<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>White Wine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <div class="jumbotron card-image" id="whitewine">
        <div class="row">
            <nav class="dropdown">
                <a class="dropbtn" href="/">PerfectlyPaired</a>
                <div class="dropdown-content">
                    <a href="/quality">White vs. Red Wine</a>
                    <a href="/reviews">Find My Wine</a>
                    <a href="/analysis">Behind the Scenes</a>
                </div>
            </nav>
        </div>
        <div class="container-fluid" id="header-redwhite">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="color: rgb(252, 252, 241); font-size: 100px;">White Wine</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Objective</strong></h2>
                </div>
                <div class="card-body">
                    <h5 id="obj-body">Build a regression model that predicts the quality (target) 
                                        of white wine based on it’s physicochemical properties (features/dimensions). Quality is rated on a scale of 1-10. </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Cleaning the white wine dataset</strong></h2>
                </div>
                <div class="card-deck text-center">
                    <img class="card-image-top" src="../White_Analysis/BTS_Images/Data_Quality_Assesment/Drop_NA_2.png">
                    <img class="card-image-top" src="../White_Analysis/BTS_Images/Data_Quality_Assesment/Remove_Outliers_4.png">
                    <div class="card-body">
                        <h5 id="obj-body">After removing missing values from the dataset, we needed to identify and remove outliers
                                         that could skew the analysis. Removing outliers shrunk our dataset from 4898 to 4469 values..</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Testing assumptions for Multiple Regression Analysis</strong></h2>
                </div>
                <div class="card-deck">
                    <img class="card-image-top" src="../White_Analysis/BTS_Images/Model_Exploration/Multiple_Regression/Seaborn_viz_6b.png">
                    <img class="card-image-top" src="../White_Analysis/BTS_Images/Model_Exploration/Multiple_Regression/Multicollinearity_VIF_5.png">
                    <div class="card-body">
                        <h5 id="obj-body">Through a variable inflation factor analysis and seaborn heatmap, we assessed how 
                                        codependent the factors were with one another (excludes the target, quality). Density and residual 
                                        sugar were the most correlated (0.84), closely followed by volatile and citric acidity (13, VIF). 
                                        This finding influenced the decision to run a principle component analysis (pca) to strategically 
                                        decide which features(dimensions) could be reduced to strengthen the model. Additional assumption 
                                        testing not featured below included linearity testing through scatter plots/correlation analysis 
                                        and creating residual plots. 
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Multiple Regression Analysis</strong></h2>
                </div>
                <div class="card-deck">
                    <img class="card-image-top" src="../White_Analysis/BTS_Images/Model_Exploration/Multiple_Regression/MR_A_Results_1.png">
                    <div class="card-body">
                        <h5 id="obj-body">The first MR model used all 11 factors, scaled using MinMaxScaler, with a testing score of 30%. 
                                        The second model used the Principle Component Analysis to transform the existing factors to two factors 
                                        (reducing dimensionality). While this appeared fruitful, the new pc’s resulted in a weaker model (0.00), 
                                        mostly predicting “6”. 
                        </h5>  
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Original Regression</strong></h2>
                </div>
                <div class="card-deck">
                    <img class="card-image-top" src="../White_Analysis/BTS_Images/Model_Exploration/Multiple_Regression/Ordinal_Reg_10.png">
                    <div class="card-body">
                        <h5 id="obj-body">Three types of ordinal regressions were tested (logistic, ridge and least absolute deviation). The ordinal 
                                        regression was a natural fit since the target variable is ordinal. However, only one of the model’s came close 
                                        to being highly predictive (logistic, 52%).  
                        </h5>  
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Model Summary</strong></h2>
                </div>
                <div class="card-deck">
                    <img class="card-image-top" src="../White_Analysis/BTS_Images/Model_Exploration/Multiple_Regression/Model_Summary_11.png">
                    <div class="card-body">
                        <h5 id="obj-body">The original regression model proved strongest (testing score: 52%), although it is still relatively weak for a predictive model. 
                            This make’s sense since the target variable is ordinal, not continuous. For the purpose of this exercise, 52% is enough to show some predictive 
                            capability, but ultimately the physicochemical properties aren’t strong predictors of the wine’s quality. More information is needed on what 
                            determined the wine quality. <br> <br>

                            Additionally, there may be better fitting models beyond regression (Random Forest, Classification). These weren’t explored because the main 
                            objective of the project was to predict the type of wine, not wine quality. <br> <br>
                            
                            Regarding the sub objectives mentioned at the beginning of the notebook, alcohol (44%) and density (-31%) influence wine quality most, while 
                            citric acid has no effect (0%).  
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="options">
            <div class="card" id="objective">
                <div class="card-header">
                    <h2 id="home-card"><strong>Model Summary</strong></h2>
                </div>
                <div class="card-deck">
                    <div class="card-body">
                        <h5 id="obj-body">For each model, data was split into training and testing data and were scaled and normalized using MinMaxScaler, which 
                            transforms each feature so that it lies within the range 0 and 1. <br>
                            Multiple Linear Regression: With Scikit-Learn, we created a model using Linear Regression, fitted the model to the training data, 
                            and quantified the model using the scaled data. Score came out to ~0.372, which is very low and weak.<br>
                            Proceeded to try other linear regression models, specifically Lasso, Ridge, and Elastic Net to see if we could improve our performance. <br><br>
                            
                            “Lasso will eliminate many features, and reduce overfitting in your linear model. Ridge will reduce the impact of features that are not 
                            important in predicting your y values. Elastic Net combines feature elimination from Lasso and feature coefficient reduction from the Ridge 
                            model to improve your model's predictions.” <br><br>
                            
                            However, results were not any better than what we got initially with our multiple linear regression model.<br>
                            
                            Next, we thought outliers could be an issue so we removed outliers and conducted the multiple linear regression model again to see if 
                            our model performed better. It only improved by 0.01, making no significant difference.<br>

                            Looking back to the seaborn heatmap we had created earlier, we noticed that there was some correlation between variables, and to address 
                            any multicollinearity in our dataset, we tested Principal Component Regression. Again, no difference in score. 
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 text-center">
            <a type="button" class="btn btn-primary" id="button" href="/red_wine" style="margin: auto" role="button">Previous: Red Wine</a>
            <a type="button" class="btn btn-primary" id="button" href="/reviewscode" style="margin: auto" role="button">Next: Wine Reviews</a>
        </div>
    </div>
</body>

</html>